*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CLASSE DEBUG */
    /* header */
    .debug #header-box{
        background-color: rgb(89, 89, 236);
    }
    .right-nav{
        border: 1px solid black;
        background-color: aqua;
    }
    .logo{
        border: 1px solid black;
        background-color: aqua;
    }
    /* header */

    /* main */
    /* sezione 1 */
    #first-grid-section{
        height: 866px;
        background-color: rgb(179, 107, 210);
    }
    .grid-box, .grid-box-large{
        border: 1px solid black;
    }
    /* fine sezione 1 */
    /* sezione 2 */
    #two-section{
        height: 925px;
    }
    .two-img-left{
        height: 729px;
        width: 30%;
        border: 1px solid black;
    }
    .two-img-right{
        height: 560px;
        border: 1px solid black;
        width: 30%;
    }
    /* fine sezione 2 */
    /* fine main debug*/

/*FINE CLASSE DEBUG */

/* ################################################################################# */
/* ################################################################################# */

/* HEADER */
.navbar{
    display: flex;
    height: 4.75rem;
    justify-content: space-around;
    align-items: center;
}
.right-nav{
    display: flex;
}
.nav-link{
    margin-right: 33px;
}
/* FINE HEADER */

/* MAIN */
    /* prima section */
    #first-grid-section{
        width: 60%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        padding-top: 3.125rem;
        gap: 0.625rem;
        justify-content: center;
        margin-bottom: 6.6rem;
     }
     .grid-box{
        width: calc(100% / 3 - 1.25rem);
        background-color: #b5ddff;
     }
     .big-grid-box{
        width: 64%;
        display: flex;
     }
     .big-grid-box h3{
        color: #0084fd;
     }
    /* fine prima section */
    /* inizio seconda section */
    #two-section{
        background-color: #9792e4;
    }
    .two-sec-container{
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }
    .two-img-left{
        margin-top: 8.4rem;
        margin-right: 3.93rem;
    }
    .two-img-right,
    .two-img-left{
        margin-bottom: 4rem;
    }
    .two-img-right{
        margin-top: 19.39rem;
    }
    .img-two-sec{
        padding-bottom: 8.625rem ; /*8.625rem = 138px  spazio tra immagine e testo*/
    }
    /* fine seconda section */
/* FINE MAIN */

/* FOOTER */
/* FINE FOOTER */