@import'css/_partials/screen.css';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'PT Sans', sans-serif;
}
/* GLOBAL*/
:root{
    --bg-fucsia-color: #9792e4;
    --jambo-bg: #b5ddff;
    --blue-jumbo: #0084fd;
}
a, li{
    text-decoration: none;
    list-style: none;
}
p{
    color: rgb(90, 110, 127);
}

/* GLOBAL */
/* CLASSE DEBUG */
    /* main */
    /* sezione 2 */
    .debug #two-section{
        height: 925px;
    }
    .debug .two-img-left{
        height: 729px;
        width: 30%;
        border: 1px solid black;
    }
    .debug .two-img-right{
        height: 560px;
        border: 1px solid black;
        width: 30%;
    }
    /* fine sezione 2 */
    /* sezione 3 */
    .debug  #section-three{
        height: 1334px;
        background-color: #b5ddff;
    }
    .debug  .rettangolo-sec-3,
    .debug  .intestazione-sec-3{
        height: 280px;
        border: 1px solid black;
    }
    /* fine sezione 3 */
    /* sezione 4 */
    .debug .grid-box-four{
        background-color: white;
        border: 1px solid black;
        height: 200px;
    }
    /* fine sezione 4 */
    /* sezione 5 */
    .debug #section-five{
        height: 880px;
    }
    .debug .five-sec-container{
      height: 500px;

    }
    .debug .left-five-box,
    .debug .right-five-box{
        height: 500px;
        border: 1px solid black;
    }
    
    /* fine sezione 5 */
    /* six section */
    .debug .section-six{
        height: 627px;
    }
    /* six section */
    /* fine main debug*/
    /* footer debug */
    #footer{
        height: 233px;
    }
/*FINE CLASSE DEBUG */

/* ################################################################################# */
/* ################################################################################# */

/* HEADER */
#header-box{
    background-color: #0084fd;
}
.navbar{
    display: flex;
    padding: 1.25rem;
    justify-content:  space-between;
    align-items: center;
}
.right-nav{
    display: flex;
    align-items: center;
}
.nav-link a{
    margin-right: 33px;
    color: white;
}
.button-s{
    color: black;
    background-color: white;
    border-radius: 1.25rem;
    padding:13px 16px;
}
.hamburger{
    display: none;
}
/* FINE HEADER */

/* MAIN */
    /* prima section */
    .container-grid{
        margin-top: 3.125rem;
        margin-bottom: 6.5625rem;
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
    .box-grid{
        width: calc(100% / 3 - 1.25rem);
        padding: .625rem;
        display: flex;
    }
    /* gestione blocco grande */
    .big-box{
        width: calc((100% / 3) * 2 - 1.875rem);
    }
    .internal-box{
        background-color: var(--jambo-bg);
    }
    .description-container{
        display: flex;
    }
    .description{
        padding-bottom: 3.5625rem;
        padding-left: 1.5625rem;
    }
    .grid-img{
        width: 50%;
        padding-top: .3125rem;
        margin-left: 5.625rem;
    }
    .grid-img img{   /*contenitore immagine*/
        width: 56%;
        display: block;
    }
    .grid-sec-button{
        background-color: var(--blue-jumbo);
        color: white;
    }
    /* margini blocco grande */
    .description h3{
        margin-top: 2.4375rem;
        margin-bottom: 2.25rem;
        color: var(--blue-jumbo);
     }

     .description p{
        margin-bottom: 2.5rem;
     }
     .description span{
        margin-bottom: 3.75rem;
     }
     /* margini blocco grande */
    /* gestione blocco grande */
    .internal-box .ico-grid i{
        font-size: 3.125rem;
        margin: 1.9375rem 0 ;
    }
    .internal-box .ico-grid i, h4{
        color: var(--blue-jumbo);
    }
    .internal-box h4{
        padding-bottom: 2.5625rem ;
    }
    .descriprion-small{
        text-align: center;
        padding-bottom: 40px;
    }
    
    /* fine prima section */
    /* inizio seconda section */
    #two-section{
        background-color: var(--bg-fucsia-color);
    }
    .two-sec-container{
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }
    .two-img-left{
        margin-top: 8.4rem;
        margin-right: 3.93rem;
    }
    .two-img-right,
    .two-img-left{
        margin-bottom: 4rem;
    }
    .two-img-right{
        margin-top: 19.39rem;
    }
    .img-two-sec{
        padding-bottom: 8.625rem ; /*8.625rem = 138px  spazio tra immagine e testo*/
    }
    /* fine seconda section */
    /* inizio sezione 3 */
    #section-three{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .intestazione-sec-3{
        text-align: center;
        margin-bottom: 3.375rem;
    }
    .intestazione-sec-3 h3{
        color: var(--bg-fucsia-color);
        margin-bottom: 2.875rem;
    }
    .main-p-3{
        margin-top: 4.31rem;
        margin-bottom: 2.75rem;
    }
    .rettangolo-sec-3{
        display: flex;
        margin-bottom: 2.0625rem;
        background-color: var(--bg-fucsia-color);
    }
    .bott-3-sec{
        margin-bottom: 7.0625rem;
    }
    /* fine sezione 3 */
    /* sezione 4 */
    #four-grid-sec{
        background-color: var(--bg-fucsia-color);
        padding-bottom: 3.9375rem;
    }
    .four-grid-container{
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
    .grid-box-four{
        width: calc(100% / 3 - 1.25rem);
    }
    .color{
        color: var(--bg-fucsia-color);
    }
    .bg-color{
        background-color: var(--bg-fucsia-color);
        color: white;
    }
    .title-four-sec{
        color: white;
        padding-top: 4.25rem;
        padding-bottom: 4.1875rem;
        text-align: center;
    }
    /* fine sezione 4 */
    /* section 5 */
    #section-five{
        padding-top: 6.375rem;
        padding-bottom: 9.8125rem;
    }
    .five-sec-container{
        display: flex;
        margin: 0 auto;
        width: 60%;
    }
    /* gestione margini testo parte sinistra */
    .left-five-box{
        width: 70%;
    }
    .left-five-box h3{
        margin-bottom: 4.1875rem;
    }
    .p-five{
        padding-top: 4.5rem;
        padding-bottom: 9.8125rem;
    }
    .right-five-box{
        width: 30%;
    }
     /* gestione margini testo  parte sinistra*/
      /* gestione margini testo  parte destra*/
    .p-five-right{
        padding-top: 1.875rem;
        padding-bottom: 2.0625rem;
        color: var(--bg-fucsia-color);
    }
      .b-right-five{
        margin-bottom: 16.5625rem;
        background-color: var(--bg-fucsia-color);
      }
      /* gestione margini testo  parte destra*/
    /* fine section 5 */
    /* sezione 6 */
    #section-six{
        background-color: var(--bg-fucsia-color);
        text-align: center;
    }
    .button-six{
        background-color: white;
        color: var(--bg-fucsia-color);
    }
    /* gestione spaziature testo */
    .p-six{
        padding-top: 4.25rem;
        padding-bottom: 2.25rem;
    }
    .yellow-title{
        padding-top: 3.625rem;
        padding-bottom: 3.5625rem;
        color: #fdc15f;
    }
    .p-six-txt{
        padding-bottom: 40px;
    }
    .p-six-copyright{
        padding-top: 2.25rem;
        padding-bottom: 4.0625rem;
    }
    /* gestione spaziature testo */
    .section-six
    p,
    h3{
        color: white;
    }
    /* fine sezione 6 */
/* FINE MAIN */

/* FOOTER */
#footer{
    background-color: #333333;
    text-align: center;
    padding-top: 2.8125rem;
    padding-bottom: 42px;
}
.p-foot{
    padding-bottom: 70px;
}
/* FINE FOOTER */

@media screen and (max-width: 1460px){
    .navbar{
        background-color: red;
    }
    .internal-box{
        display: block;
    }
    .grid-img{
        margin-left: 0.7rem;
    }
}