*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'PT Sans', sans-serif;
}
/* GLOBAL*/
:root{
    --bg-fucsia-color: #9792e4;
    --jambo-bg: #b5ddff;
    --blue-jumbo: #0084fd;
}
a, li{
    text-decoration: none;
    list-style: none;
}
p{
    color: rgb(90, 110, 127);
}

/* GLOBAL */

/* HEADER */
#header-box{
    background-color: #0084fd;
}
.navbar{
    display: flex;
    padding: 1.25rem;
    justify-content:  space-between;
    align-items: center;
}
.right-nav{
    display: flex;
    align-items: center;
}
.nav-link a{
    margin-right: 33px;
    color: white;
}
.button-s{
    color: black;
    background-color: white;
    border-radius: 1.25rem;
    padding:13px 16px;
}
.hamburger{
    display: none;
}
/* FINE HEADER */

/* MAIN */
    /* prima section */
    .container-grid{    /*container dopo la section*/
        margin-top: 3.125rem;
        margin-bottom: 6.5625rem;
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
    .box-grid{      /*contenitore di ogni sigolo blocco*/
        width: calc(100% / 3 - 1.25rem);
        padding: .625rem;
        display: flex;
    }
    /* gestione blocco grande */
    .big-box{
        width: calc((100% / 3) * 2 - 1.875rem);
    }
    .internal-box{
        background-color: var(--jambo-bg);
        border-radius: 1.25rem;
    }
    .grid-sec-button{
        background-color: var(--blue-jumbo);
        color: white;
    }
    .description-container{     /*display flex per far scorrere foto si trova accanto a "internal-box"*/
        display: flex;
    }
    .description{       /*contenitore parte scritta a sinistra immagine*/
        padding-bottom: 3.5625rem;
        padding-left: 1.5625rem;
    }
    .grid-img{      /*contenitore immagine*/
        width: 50%;
        padding-top: .3125rem;
        margin-left: 5.625rem;
    }
    .grid-img img{   /*contenitore immagine*/
        width: 100%;
        display: block;
    }
    /* margini blocco grande */
    .description h3{
        margin-top: 2.4375rem;
        margin-bottom: 2.25rem;
        color: var(--blue-jumbo);
     }

     .description p{
        margin-bottom: 2.5rem;
     }
     .description span{
        margin-bottom: 3.75rem;
     }
     /* margini blocco grande */
    /*fine gestione blocco grande */
    .internal-box .ico-grid i{
        font-size: 3.125rem;
        margin: 1.9375rem 0 ;
    }
    .internal-box .ico-grid i, h4{
        color: var(--blue-jumbo);
    }
    .internal-box h4{
        padding-bottom: 2.5625rem ;
    }
    .descriprion-small{
        text-align: center;
        padding-bottom: 40px;
        padding: 1.5625rem;
    }
    
    /* fine prima section */
    /* inizio seconda section */
    #two-section{
        background-color: var(--bg-fucsia-color);
    }
    .two-sec-container{
        display: flex;
        justify-content: center;
    }
     /* parte sinistra */
    .two-img-left{
        margin-top: 8.4rem;
        margin-right: 2.0625rem;
    }
    .two-img-left img{
        width: 100%;
    }
    .two-img-right,
    .two-img-left{
        margin-bottom: 4rem;
        width: 30%;
    }
    .two-img-left h3{
        margin-top: 6.25rem;
        margin-bottom: 2.5rem;
        font-size: 2.125rem;
    }
    .two-img-left p{
        font-size: 1rem;
        color: white;
    }
        /* parte sinistra */
        /* parte destra */
    .two-img-right{
        margin-top: 19.39rem;
        text-align: center;
        background-color: white;
        border-radius: 1.25rem;
        padding-bottom: 2.0625rem;
        margin-left: 2.0625rem;
    }
    .two-img-right img{
        width: 50%;
    }
    .two-img-right p{
        color: black;
        font-style: italic;
        font-size: 1.125rem;
    }
    .two-img-right h4{
        padding-bottom: 1.875rem;
        color: black;
        font-size: 1.5rem;
        margin-top: 2rem;
    }
    .two-img-right span i{
        font-size: 1.875rem;
        background-color: var(--bg-fucsia-color);
        padding: 20px 23px;
        margin-top: 2.1875rem;
        border-radius: 50%;
    }
        /* parte destra */
    /* fine seconda section */
    /* inizio sezione 3 */
    #section-three{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
     /* parte sopra rettangolo*/
    .intestazione-sec-3{
        text-align: center;
        margin-bottom: 3.375rem;
    }
    .intestazione-sec-3 h3{
        color: var(--bg-fucsia-color);
        margin-bottom: 2.875rem;
        font-size: 3rem;
    }
    .main-p-3{
        margin-top: 4.31rem;
        margin-bottom: 2.75rem;
    }
    .last-p-3,
    .main-p-3{
        color: black;
    }
    /*fine parte sopra rettangolo*/
    .rettangolo-sec-3{
        display: flex;
        margin-bottom: 2.0625rem;
        background-color: var(--bg-fucsia-color);
        border-radius: 2.1875rem;
        display: flex;
        align-items: center;
    }
    .rettangolo-sec-3 img{      /*gestione immagine*/
        width: 100%;
        display: block;
        border-radius: 100%;
        padding: 1.25rem .875rem;
    }
    .circle-img{
        width: 200px;
    }
    .name-3{
        font-size: .8125rem;
    }
    .bott-3-sec{
        margin-bottom: 7.0625rem;
    }
    .img-rett-name{
        margin-right: 4.4375rem;
    }
    .img-rett-name p{
        color: white;
        margin: 1.25rem;
    }
    /* fine sezione 3 */
    /* sezione 4 */
    #four-grid-sec{
        background-color: var(--bg-fucsia-color);
        padding-bottom: 3.9375rem;
    }
    .four-grid-container{
        display: flex;
        flex-wrap: wrap;
        gap: 1.25rem;
        width: 80%;
        margin: 0 auto;
        justify-content: center;
    }
    .grid-box-four{
        width: calc(100% / 3 - 2.5rem);
        background-color: white;
        padding: 2rem;
        border-radius: 30px;
    }
    .color{
        color: var(--bg-fucsia-color);
    }
    .bg-color{
        background-color: var(--bg-fucsia-color);
        color: white;
        padding: 0.6rem 3.1875rem;
    }
    .title-four-sec{
        color: white;
        padding-top: 4.25rem;
        padding-bottom: 4.1875rem;
        text-align: center;
    }
    .title-four-sec h3{
        font-size: 3rem;
    }
    .desc-4-margin{
        padding-bottom: 2rem;
    }
    .number{
        font-size: 4.5rem;
        padding: 3.4375rem 0 2.25rem 0;
    }
    .info-s-4{
        font-size: 2rem;
        padding-bottom: 2.25rem;
    }
    /* fine sezione 4 */
    /* section 5 */
    #section-five{
        padding-top: 6.375rem;
        padding-bottom: 9.8125rem;
    }
    .five-sec-container{
        display: flex;
        margin: 0 auto;
        width: 70%;
    }
    .left-five-box{
        width: 70%;
    }
    .left-five-box h3{
        margin-bottom: 4.1875rem;
        font-size: 4.5rem;
    }
    .p-five{
        padding-top: 4.5rem;
        padding-bottom: 9.8125rem;
    }
    .right-five-box{
        width: 30%;
    }
    .p-five-right{
        padding-top: 1.875rem;
        padding-bottom: 2.0625rem;
        color: var(--bg-fucsia-color);
    }
      .b-right-five{
        margin-bottom: 16.5625rem;
        background-color: var(--bg-fucsia-color);
      }
      .left-five-box p{
        font-size: 1.25rem;
      }
      .left-five-box{
        margin-right: 6.9375rem;
      }
      .img-five img{
        width: 100%;
        border-radius: 100%;
      }
      .p-five-right{
        font-size: 1.875rem;
      }
      .b-right-five{
        color: white;
      }
      .b-right-five i{
        margin-right: .1875rem;
      }
      .img-five{
        position: relative;
      }
      .ico-hover-img i{
        position: absolute;
        font-size: 2.5rem;
        right: 50px;
        color: var(--bg-fucsia-color);
      }
    /* fine section 5 */
    /* sezione 6 */
    #section-six{
        background-color: var(--bg-fucsia-color);
        text-align: center;
    }
    #section-six p,
    .policy,
    i{
        color: white;
    }
    .button-six{
        background-color: white;
        color: var(--bg-fucsia-color);
        padding: 1.3rem 5rem;
        border-radius: 1.875rem;
    }
    /* gestione spaziature testo */
    .p-six{
        padding-top: 4.25rem;
        padding-bottom: 2.25rem;
    }
    .yellow-title{
        padding-top: 3.625rem;
        padding-bottom: 3.5625rem;
        color: #fdc15f;
    }
    .p-six-txt{
        padding-bottom: 40px;
    }
    .p-six-copyright{
        padding-top: 2.25rem;
        padding-bottom: 4.0625rem;
    }
    /* gestione spaziature testo */
    .section-six
    p,
    h3{
        color: white;
    }
    /* fine sezione 6 */
/* FINE MAIN */

/* FOOTER */
#footer{
    background-color: #333333;
    text-align: center;
    padding-top: 2.8125rem;
    padding-bottom: 42px;
}
.p-foot{
    padding-bottom: 70px;
    color: white;
}
.p-foot a{
    color: #7873ae;
    text-decoration: underline;
}
/* FINE FOOTER */
/* RESPONSIVE */
/*display 992px  */

@media screen and (max-width: 992px){
    .navbar .hamburger{      /*navbar*/
        display: block;
        color: white;
        font-size: 1.25rem;
    }
    .navbar ul{         /*navbar*/
        display: none;
    }
    .internal-box{      /*sezione 1*/
        display: block;
    }
    .grid-img{          /*sezione 1*/
        margin-left: 0.7rem;
    }
    .two-sec-container{     /*sezione 2*/
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .two-img-right{          /*sezione 2*/
        margin-left: 0.01rem;
        margin-top: 0.01rem;
    }
    .two-img-left{              /*sezione 2*/
        margin-right: 0.01rem;
    }
    .grid-box-four{             /*sezione 4*/
        width: calc(100% / 2 - 2.5rem);
    }
    .five-sec-container{        /*sezione 5*/
        width: 100%;
        padding: 20px;
    }
}
/* display 768px */
@media screen and (max-width: 768px){
    .two-img-left,
    .two-img-right{
        width: 85%;
    }
    .container-grid,
    .four-grid-container,
    .five-sec-container,
    .five-sec-container{
        display: block;
        margin: 0 auto;
    }
    .grid-box-four,
    .box-grid,
    .left-five-box,
    .right-five-box{
        width: 90%;
        margin: 0 auto;
        margin-top: 20px;
    }
    .img-five img{
        width: 50%;
    }
    .ico-hover-img i{
        right: 18.75rem;
    }
    .rettangolo-sec-3{
        flex-direction: column;
        text-align: center;
    }
}
